# Kim Melso Notebook - Intro to Jupyter and Exploratory Data Analysis (EDA)

- Author: [Kim Melso ](https://github.com/kander643/)
- Repository: [datafun-04-notebooks](https://github.com/kander643/datafun-04-notebooks/)
- Purpose: Demonstrate a repeatable EDA workflow for a new, unexplored dataset
- Date: 02-01-2026

## Dataset Information

- Dataset: Seaborn -- Tips
- Description: Restaurant tipping data
- Source: Rdatasets
- Citation: Bryant, P. G. & Smith, M. (1995). Practical Data Analysis: Case Studies in Business Statistics. Homewood, IL: Richard D. Irwin Publishing
- Access: Available via Seaborn's built-in datasets

# Section 1: Data Imports

In [11]:
import seaborn as sns

# Section 2: Load the Tips Data

In [12]:
# Load the tips dataset
tips = sns.load_dataset('tips')
# List column names
print(tips.columns)

# Inspect first few rows of the DataFrame
print(tips.head())

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='str')
   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

# Section 3 Inspect the Data

In [13]:
# Specify the number of rows to display
print(tips.columns)

# Inspect the shape of the DataFrame with shape attribute
# The shape is a tuple with count of rows and columns in the DataFrame
print(tips.shape)
# Inspect the data types of the columns with dtypes attribute
# The data types are returned as a pandas Series
print(tips.dtypes)

# Inspect the data types of the columns with info() method
print(tips.info())

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='str')
(244, 7)
total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object
<class 'pandas.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB
None

# Section 4 Descriptive Statistics

In [14]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000